# C++ template

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE directories
.idea/

# Ignore everything in .github except workflows
!.github/
!.github/workflows/
!.github/workflows/**

# Track source files and CMake configuration
!src/
!src/**
!CMakeLists.txt

# Track assets and data directories
!assets/
!assets/**
!Data/
!Data/**

# Exclude specific file
Data/Outdata.json

# Exclude a build directory within assets
assets/Build